*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "HelveticaNowDisplay Regular";
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #e2e2e2;
}
nav{
    margin: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
#subnav1, #subnav2{
    gap: 25px;
    display: flex;
    justify-content: space-between;
}
a{ text-decoration: none; }
main>h1{
    text-align: center;
    font-size: 275px;
    font-weight: 400;
    position: relative;
}
img{
    border-radius: 15px;
    position: absolute;
}
#img2{
    height: 250px;
    width: 215px;
    left: 65%;
    top: 45%
}
#img1{
    height: 250px;
    width: 225px;
    left: 55%;
    top: 35% 
}
#img3{
    height: 250px;
    width: 215px;
    left: 45%;
    top: 55%;
}
#btmleft{ 
    margin-left: 5%;
    margin-right: 5%;
}
#btmleft{
    height: 200px;
    width: 400px;
    position: fixed;
}
#btmleft>h4{
    padding-bottom: 10px;
    padding-top: 10px;
}
#btmbar{
    height: 5%;
    width: 100%;
    padding: 10px 60px;
    position: absolute;
    justify-content:space-between;
    display: flex;
    bottom: 3%;
}