@font-face {
    font-family: ifont;
    src: url(./sf-pro-display_regular.woff2);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: ifont;
}
#navbaar{
    height: 48px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbaar__link, i{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 100;
}
.hero--iphone, .hero--ipad-air, .hero--macbook-pro-m5{
    width: 100%;
    height: 570px;
    margin :15px 0px;
    padding: 15px;
    background-position: center;
    background-size: cover;
}
.hero--iphone{
    background-image: url("https://www.apple.com/in/home/heroes/iphone-family/images/hero_iphone_family__fuz5j2v5xx6y_medium.jpg");
    margin-top: 48px;
}
.hero--ipad-air{
    background-image: url("https://www.apple.com/v/home/cl/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_small.jpg");
}
.hero--macbook-pro-m5{
    background-image: url("https://www.apple.com/v/home/cl/images/heroes/macbook-pro-m5/hero_macbook_pro_m5__fjgmapbkxo2u_small.jpg");
    color: white;
}
.subitem{
    padding: 15px;
}
.hero__heading{
    font-weight: 900;
    font-size: 45px;
}
.hero__subheading{
    font-size: 25px;
    font-weight: 500;
}
.hero_actions{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn--primary, .btn--outline, .btn--unique{
    height: 40px;
    width: auto;
    padding: 10px 15px;
    border-radius: 50px;
    text-transform: capitalize;
}
.btn--primary{
    background-color:#0077ED ;
    color: white;
    border: none;
}
.btn--outline{
    background-color: transparent;
    color:#0077ED;
    border-color: #0077ED;
    cursor: pointer;
}
.btn--unique{
    background-color: white;
    border: none;
}
.btn--outline:hover{
    background-color: #0077ED;
    color: white;
}
.paired-content{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.paired-subcontent{
    margin: 10px;
    padding: 40px;
    height: 570px;
    width: 49%;
    background-position: center;
    background-size: cover;
}
.imgheading{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.imgheading i{ height: 40px; width: 40px; color: black; }
.promo__imgheading{ font-weight: 900; }
.promo__imgsubheading{ font-weight: 500; }
#promo--apple-event{
    background-image: url(https://www.apple.com/in/home/promos/nso-announce-2025/images/promo_nso_announce_2025__bxqdcoxgjzw2_small.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}
#promo--apple-watch{ background-image: url(https://www.apple.com/v/home/cl/images/promos/apple-watch-unity/promo_apple_watch_unity__casvx9ysh1le_small.jpg); color: white; }
#promo--apple-ipad-series{ background-image: url(https://www.apple.com/v/home/cl/images/promos/ipad-pro/promo_ipad_pro__c529dk533k4m_small.jpg); color: white; }
.footer--section{
    background-color: #F5F5F7;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
.nav_subblock{
    margin: 10px;
    color: gray;
}
.sub-navbaar{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.nav_subblock a, .subitem a{
    color:#0077ED;
    text-decoration: none;
}
.sub-navbaar a{
    text-decoration: none;
    color: gray;
}
.disclaimer{ color: red; }