*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  background: black;
  font-family: monospace;
  transition: all 0.3s ease;
}
.terminal {
  padding: 20px;
  color: #00ff88;
}
.header {
  color: #888;
  margin-bottom: 10px;
  font-size: 14px;
}
.header span {
  color: #00ff88;
}
.input-line {
  display: flex;
}
.prompt {
  margin-right: 5px;
}
.blink {
  animation: blink 1s infinite;
}
.sec-war{
  color: #888;
  margin-top: 10px;
  font-style: italic;
}
@keyframes blink {
  50% { opacity: 0; }
}
.output div {
  margin-bottom: 5px;
  white-space: pre-wrap;
}
.theme-green .terminal {
    background: #000;
    color: #00ff88;
    box-shadow: 0 0 20px #00ff88;
}
.theme-red .terminal {
    background: #000;
    color: #ff3b3b;
    box-shadow: 0 0 20px #ff3b3b;
}
.theme-white .terminal {
  background: #111;
  color: #ffffff;
  box-shadow: 0 0 20px #ffffff;
}