*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.sec{
    max-width: 300px;
    padding-inline: 20px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: 
        linear-gradient(black) padding-box, 
        conic-gradient(from var(--border-animate),black,black,black,#ff0000,black) border-box;
    
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 0px rgb(255, 0, 0);
    animation: animate 5s linear infinite;
    animation-play-state: paused;
    transition: all 0.3s linear;
    color: whitesmoke;
    text-shadow: 0 0 0px rgb(255, 0, 0);
}
.sec:hover{
    box-shadow: 0 0 50px rgb(255, 0, 0);
    border: 5px solid rgba(0, 0, 0, 0);
    animation-play-state: running;
    text-shadow: 0 0 10px rgb(255, 0, 0);
}
.sec-img{
    width: 100%;
    border-radius: 10px;
}
@property --border-animate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes animate {
    from{
        --border-animate: 0deg;
    }
    to{
        --border-animate: 360deg;
    }
}