*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.head-div-title, .footer-div-title{
    padding-top: 5px ;
    padding-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    background-color: #13135b;
    text-align: center;
}
h5{
    padding-top: 10px;
    text-transform: capitalize;
}
main{
    text-align: center;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
}
h2,h1{
    font-weight:500px;
    text-transform:uppercase;
}
h2{ margin-bottom: 25px; }
.card{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#about_me{ background-color: #ffcbe1; }
#education{ background-color: #d6e58d; }
#skills{ background-color: #f9e1a8; }
#projects{ background-color: #bcd8ec; }
#contact_me{ background-color: #9babbe; }